/* Navbar Section */

@media screen and (max-width: 1500px){
    .heading-contact{
        margin-top: 90px;
    }
}

@media screen and (max-width: 992px) {

    .nav-item .nav-link{
        color: white;
        font-size: 17px;
        font-weight: 600;
    }

    .navbar-nav .nav-item{
        margin: 8px 0px;
    }
}

@media screen and (max-width:480px) {

  .logo-img {
        width: 300px;
  }
}

/* Navbar Section */

/* Our Mission Section*/

@media screen and (max-width: 1000px) {
  .about-us {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .text-about-us p {
    margin-left: 30px;
  }

  .main-img {
    zoom: 75%;
  }

}

@media screen and (max-width: 500px) {
  .last-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

/* Our Mission Section */

/* Our Team Section */

@media screen and (min-width: 992px) {

    section {
      padding: 1em;
    }

    .card-team {
      padding: 5em 1em;
    }

    .column-team {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 1em;
    }

  }


@media screen and (min-width: 768px) {

    section {
      padding: 1em 7em;
    }

  }
  
/* Our Team Section */

/* Footer Section */

@media screen and (max-width: 768px) {

    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

/* Footer Section */