@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* rgb(189, 109, 242) #bd6df2 hsl(276, 84%, 69%)
rgb(56, 189, 242) #38bdf2 hsl(197, 88%, 58%)  */

:root{
    --font-family-primary: 'Poppins', sans-serif;
    --primary-color: rgb(189, 109, 242);
    --secondary-color: rgb(56, 189, 242);
    --tertiary-color: rgb(247, 247, 247);
    --quaternary-color: rgb(89, 0, 255);
    --quinary-color: rgb(255, 255, 255);
    --senary-color: rgb(0, 0 ,0);
    --bg-primary: rgb(0,0,0);
}

*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: var(--font-family-primary);
    list-style: none;
    color: var(--quinary-color);
    flex-direction: column;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-primary) !important;
}

/* Header Section*/

.header{
    height: auto;
    width: 100%;
}

.navbar{
    padding: 15px 18px !important;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.logo-img{
    height: 100px;
    padding: 0;
    width: auto;
    max-width: 100%;
    display: block;
}

.nav-item{
    margin: 0px 10px;
}

.nav-item .nav-link{
    color: var(--quinary-color);
    font-size: 20px;
    font-weight: 500;
    position: relative;
    padding-top: 15px;
}

.nav-link::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: var(--primary-color);
    width: 0px;
    height: 3px;
    transition: 0.4s ease-in-out;
}

.nav-item:hover  .nav-link::after{
    width: 100%;
}

.nav-link:hover{
    color: var(--primary-color) !important;
}

.btn-navbar{
    display: inline-block;
    padding: 15px 30px;
    border: 1px solid var(--secondary-color);
    color: var(--quinary-color);
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--secondary-color);
    transition: 0.2s ease;
}

.btn-navbar:hover{
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

/* Header Section*/

/* Contact Section */

.container-contact{
    position: relative;
    height: 85vh;
    width: 100%;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    width: 100%;
    height: 550px;
    max-width: 820px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    z-index: 1;
}

.contact{
    background-color: rgb(245,247,255) !important;
}

.submit-form{
    background: var(--primary-color);
}

.title{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 35px;
    color: var(--senary-color);
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
}

.sub-title{
    color: var(--senary-color);
    font-weight: 500;
    margin-left: 27px;
}

.image-contact-us{
    height: 300px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-media{
    display: flex;
    list-style: none;
}

.social-links ul{
    display: flex;
    flex-direction: row;
}

.social-links ul li{
    padding-right: 10px;
    margin-top: 10px;
    font-size: 25px;
}

.social-media i{
    background-color: var(--secondary-color);
    color: var(--quinary-color);
    padding: 7px;
    border-radius: 50%;
    width: 40px;
    align-items: center;
    text-align: center;
    transition: .3s;
}

.social-media i:hover{
    opacity: 0.8 !important;
}

a {
    text-decoration: none;
}

.fa-facebook-f{
    background-color: rgb(66,103,179) !important;
}

.fa-instagram{
    background: linear-gradient(rgb(127,55,201), rgb(255,41,146), rgb(255,152,7)) !important;
}

.fa-whatsapp {
    background-color: #25D366 !important;
}

.fa-linkedin {
    background-color: rgb(14, 118, 168) !important;
}

.title-form{
    font-size: 25px;
    position: relative;
    top: 20px;
    left: 48px;
    padding-top: 10px;
    color: #000;
    font-weight: 700;
}

form{
    padding: 0 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.input-box{
    height: 40px;
    width: 70%;
    margin: 30px 0;
    position: relative;
}

#input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid var(--quinary-color);
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    color: var(--quinary-color);
    font-size: 16px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: var(--senary-color) !important;
}

.input-box #input:focus ~ label, 
.input-box #input:valid ~ label{
    top: -1px ;
    left: 10px;
    background: var(--primary-color);
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
    padding: 5px;
    transition: all 0.3s ease
}

textarea#input{
    resize: none;
    min-height: 150px;
    overflow: auto;
    padding-top: 10px;
}

.btn-submit{
    position: relative;
    top: 100px;
    background: var(--quinary-color);
    outline: none;
    border: none;
    border-radius: 6px;
    width: 30%;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.btn-submit:hover{
    color: var(--senary-color);
    background-color: #eee;
}

/* Contact Section */

/* Footer Section Starts */

footer {
    width: 100% !important;
}

.footer-link {
    text-decoration: none;
    color: var(--secondary-color) !important;
    font-size: 16px;
}

.footer-link li{
    padding: 0px;
    margin: 0px;
}



#footer_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 3.5rem;
    align-items: center;
    max-width: auto;
}

#footer_contacts{
    display: flex;
    flex-direction: column !important;
    margin-left: 20px;
}

.mascot-img {
    width: 170px;
    padding-left: 15px;
}

#footer_social_media {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1.5rem;
    text-align: center;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.7;
}

#instagram {
    background: linear-gradient(rgb(127,55,201), rgb(255,41,146), rgb(255,152,7)) !important;
}

#facebook {
    background-color: rgb(66,103,179) !important;
}

#twitter {
    background-color: rgb(0, 0, 0) !important;
    border: 1px solid var(--quinary-color);
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link:hover {
    color: var(--primary-color) !important;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#footer_subscribe p {
    color: var(--secondary-color);
}

#input_group {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: rgb(255, 255, 255) !important; 
    color: rgb(0, 0, 0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: var(--primary-color) !important;
    border: none;
    padding: 11px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    background-color: rgb(155, 89, 198) !important; 
}

#footer_copyright {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

.fa-solid, .fa-regular, .fa-brands{
    background-color: transparent;
}

.fa-solid{
    margin: 2.5px;
}


/* Footer Section Ends */

