/* Navbar Section */

@media (max-width: 1500px){
    .heading-contact{
        margin-top: 90px;
    }
}

@media (max-width: 992px) {

    .nav-item .nav-link{
        color: white;
        font-size: 17px;
        font-weight: 600;
    }

    .navbar-nav .nav-item{
        margin: 8px 0px;
    }
}

@media (max-width:480px) {

    .logo-img {
        width: 300px;
    }
}

/* Navbar Section */

/* Product Details Section */

@media only screen and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px){

    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
}

/* Product Details Section */

/* Footer Section */

@media screen and (max-width: 768px) {

    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

/* Footer Section */